In [1]:
import pandas as pd
import json

## This notebook deals only with the **polished version** of the dataset, converting it from xls into json format:

In [3]:
with_scores = "http://csu.unipv.it/wp-content/uploads/2022/01/Database_ornamentali_201006-con-punteggi.xls"

In [4]:
# Get dataframes starting from existing paths
df = pd.read_excel(with_scores)

In [10]:
df

,TAXON,4030,2330+6210(acid),6210(calc),FORMA BIOLOGICA,VISTOSITA',PERIODO FIORITURA,PRESENZA MERCATO,AROMATICITA',IMPOLLINAZIONE,ALLERGENICITA’,TOSSICITA’,SOMMA DEI PUNTEGGI,INDICE DI ORNAMENTALITA'
0,Aegilops_geniculata,NaN,NaN,X,1.0,0,1,0,0,0,1,1,4.0,1
1,Achillea_millefolium,X,X,NaN,2.0,1,3,1,1,1,1,1,11.0,3
2,Achillea_tomentosa,NaN,X,X,2.0,1,2,1,1,1,1,1,10.0,3
3,Agrostis_capillaris,X,X,NaN,2.0,0,2,1,0,0,1,1,7.0,2
4,Aira_caryophyllea,X,X,X,1.0,0,1,0,0,0,0,1,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Vincetoxicum_hirundinaria,X,NaN,NaN,2.0,1,2,0,0,1,1,0,7.0,2
217,Viola_arvensis,NaN,X,X,1.0,1,3,1,1,1,1,1,10.0,3
218,Viola_canina,X,NaN,NaN,2.0,1,2,1,1,1,1,1,10.0,3
219,Vulpia_ciliata,NaN,X,X,1.0,0,2,1,0,0,1,1,6.0,2
220,Vulpia_myurus,X,X,X,1.0,0,2,1,0,0,1,1,6.0,2

In [11]:
def row_to_json(row):
    
    """
    Converts a row of this dataset into a json object with a variable number of fields.
    """
    li = []
    res = "{"
    
    for key in row.keys():
        
        val = row[key]
        
        if val == "X":
            val = 'true'
            
        try:
            int(val)
            float(val)
        except:
            if val!='true':
                val = f"\"{val}\""
        
        li.append((key, val))
    
    for tup in li:
        res+=f"\"{tup[0]}\" : {tup[1]}, "
    
    res = res.strip(", ")
    res+="}"
    return res

In [12]:
def dataframe_to_json_array(df):
    """
    Convert a dataframe into a jsonarray.
    Each row of the df is treated as a json object.
    """
    json_objects = df.apply(lambda x : row_to_json(x), axis=1)
    json_array = "{ \"Plants\" : [ "
    for obj in json_objects:
        json_array+=obj+", "
    json_array = json_array.strip(", ")
    json_array+=" ]}"
    return json_array

## Convert the dataframe into a json-array

In [14]:
json_array = dataframe_to_json_array(df)

In [15]:
json_array[:1000]

'{ "Plants" : [ {"TAXON" : "Aegilops_geniculata", "4030" : "nan", "2330+6210(acid)" : "nan", "6210(calc)" : true, "FORMA BIOLOGICA" : 1.0, "VISTOSITA\'" : 0, "PERIODO FIORITURA" : 1, "PRESENZA MERCATO" : 0, "AROMATICITA\'" : 0, "IMPOLLINAZIONE" : 0, "ALLERGENICITA’" : 1, "TOSSICITA’" : 1, "SOMMA DEI PUNTEGGI" : 4.0, "INDICE DI ORNAMENTALITA\'" : 1}, {"TAXON" : "Achillea_millefolium", "4030" : true, "2330+6210(acid)" : true, "6210(calc)" : "nan", "FORMA BIOLOGICA" : 2.0, "VISTOSITA\'" : 1, "PERIODO FIORITURA" : 3, "PRESENZA MERCATO" : 1, "AROMATICITA\'" : 1, "IMPOLLINAZIONE" : 1, "ALLERGENICITA’" : 1, "TOSSICITA’" : 1, "SOMMA DEI PUNTEGGI" : 11.0, "INDICE DI ORNAMENTALITA\'" : 3}, {"TAXON" : "Achillea_tomentosa", "4030" : "nan", "2330+6210(acid)" : true, "6210(calc)" : true, "FORMA BIOLOGICA" : 2.0, "VISTOSITA\'" : 1, "PERIODO FIORITURA" : 2, "PRESENZA MERCATO" : 1, "AROMATICITA\'" : 1, "IMPOLLINAZIONE" : 1, "ALLERGENICITA’" : 1, "TOSSICITA’" : 1, "SOMMA DEI PUNTEGGI" : 10.0, "INDICE DI ORNAMENT'

In [17]:
# json.loads(json_array)